@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 400 1rem "Montserrat", sans-serif;
}

h2 {
  letter-spacing: 0.05rem;
}

/* CABEÇALHO */
.cabecalho {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
}

.cabecalho-menu-item {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}

/*Seção principal*/
.secao-principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*Seção sobre-mim*/
.secao-sobre-mim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 24px;
  margin-top: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secao-sobre-mim-imagem {
  height: 372px;
  width: 280px;
  padding: 20px;
}

#secao-sobre-mim-titulo {
  padding: 30px;
}

#secao-sobre-mim-descricao {
  max-width: 700px;
}

/*Seção Portfolio*/
.secao-portfolio-fotos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin-left: 30px;
}

.secao-portfolio-fotos img {
  width: 352px;
  height: 260px;
}

#secao-portfolio-titulo {
  padding: 30px;
}

/*Seção Contatos*/
#secao-contatos-titulo {
  padding: 30px;
}

.secao-contatos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secao-contatos-detalhes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secao-contatos-detalhes img {
  width: 25px;
  height: 25px;
  margin: 25px;
}

.secao-contatos-detalhes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secao-contatos-form {
  padding: 20px;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
  width: 500px;
  height: 500px;
  margin: 20px;
}

.secao-contatos-form input {
  border: 2px solid black;
  padding-left: 2px;
  border-radius: 2px;
  margin-bottom: 20px;
}

.secao-contatos-form h3 {
  margin: 50px;
}

/*footer*/
footer {
  background-color: #000000;
  color: white;
  padding: 30px;
}

footer p {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */